[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
TestResults/
*.3dm.bak
*.3dmbak
.idea/
packaging/stage/


src/_guidcheck/
src/_guidcheck2/
dist/install/*.pdb
dist/install/*.deps.json
dist/install/*.runtimeconfig.json
